/* Global style */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
}

H2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
H3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

button {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* Header */
.header {
  background-color: #fff;
}
.nav-link {
  font-weight: 500;
  color: #2e2f42;
}
.nav-link-studio {
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link-studio:hover,
.nav-link-studio:focus {
  color: #404bbf;
}

.nav-link-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.contacts-link {
  color: #2e2f42;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.header-content {
  background-color: #2e2f42;
  text-align: center;
}

.team-section {
  background-color: #f4f4fd;
}
